<section class="gallery">
    <div class="container">
        <h2 class="section-title visually-hidden">gallery</h2>
                <img class="masonryImage" src="./images/gallery/tablet/gallerymd8.png" alt="">


<div class="masonry" id="masonry">
        <div class="masonryItem" data-width ="138" data-height ="138">
                <div class="masonryCover">
        <img class="masonryImage" src="./images/gallery/tablet/gallerymd8.png" alt="">
                </div>
        </div>
        <div class="masonryItem" data-width="138" data-height="138">
                <div class="masonryCover">
        <img class="gallery--img" src="./images/gallery/tablet/gallerymd9.png" alt="">

                </div>
        </div>
        <div class="masonryItem" data-width="138" data-height="138">
                <div class="masonryCover">
        <img class="gallery--img" src="./images/gallery/tablet/gallerymd10.png" alt="">

                </div>
        </div>
        <div class="masonryItem" data-width="138" data-height="138">
                <div class="masonryCover">
                        <picture>
                                <source media="(min-width: 1200px)" srcset="
                                      ./images/gallery/desktop/gallerylg8.png 1x,
                                      ./images/gallery/desktop/gallerylg8@2x.png 2x" type="image/png">
        
                                <source media="(min-width: 768px)" srcset="
                                      ./images/gallery/tablet/gallerymd8.png 1x,
                                      ./images/gallery/tablet/gallerymd8@2x.png 2x" type="image/png">
        
                                <source media="(max-width: 767px)" srcset="
                                      ./images/gallery/tablet/gallerymd8.png 1x,
                                      ./images/gallery/tablet/gallerymd8@2x.png 2x" type="image/png">
                                <img class="gallery--img" src="./images/gallery/tablet/gallerymd8.png" alt="" width="138"
                                        height="138">
                        </picture>
                </div>
        </div>

    </div>
</section>